* {
    border: none;
    border-radius: 0px;
    font-family:  Open Sans SemiBold, sans-serif;
    font-size: 20px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: #ebdbb2;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}


#workspaces {
	background: #282828;
	margin: 5px 5px 5px 5px;
  padding: 0px 5px 0px 5px;
	border-radius: 15px;
  border: solid 0px #f4d9e1;
  font-weight: normal;
  font-style: normal;
}
#workspaces button {
    padding: 0px 5px;
    color: #ebdbb2;
}

#workspaces button.active {
    color: #b8bb26;
    background-color: transparent;
}

#workspaces button:hover {
	background-color: #b8bb26;
	color: #282828;
	border-radius: 15px;
}

#workspaces button.urgent {
    background-color: #d65d0e;
}


#clock,
#battery,
#backlight,
#pulseaudio,
#tray {
    padding: 0 10px;
    color: black;
}

#window,
#workspaces {
    margin: 0px 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0px;
}

#clock {
    background-color: #d3869b;
    background-image: linear-gradient(-45deg, #d3869b 0%, #83a598 52%, #8ec07c 90%);
    color: black;
    border-radius: 0px 20px 20px 0px;
    margin-right: 4px;

}

#battery {
    background-color: #8ec07c;
}

#battery.charging, #battery.plugged {
    background-color: #8ec07c;
}

@keyframes blink {
    to {
        background-color: #ebdbb2;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ebdbb2;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#backlight {
    background-color: #d3869b;
    background-image: linear-gradient(45deg, #83a598 0%, #8ec07c 52%, #8ec07c 90%);

}

#pulseaudio {
    background-color: #d3869b;
    background-image: linear-gradient(45deg, #d3869b 0%, #83a598 52%, #8ec07c 90%);
    color: black;
    border-radius: 20px 0px 0px 20px;
}

#pulseaudio.muted {
    background-color: #d3869b;
    background-image: linear-gradient(45deg, #83a598 0%, #8ec07c 52%, #8ec07c 90%);
    color: red;
}

#custom-power{
    background-color: #d3869b;
    background-image: linear-gradient(45deg, #d3869b 0%, #83a598 52%, #8ec07c 90%);
    font-size: 16px;
    border-radius: 19px;

}

#tray {
    background-color: #d3869b;
    background-image: linear-gradient(-45deg, #83a598 0%, #8ec07c 52%, #8ec07c 90%);
    color: black;
}

#tray > .passive {
    -gtk-icon-effect: dim;
    background-color: #d3869b;
    background-image: linear-gradient(-45deg, #d3869b 0%, #83a598 52%, #8ec07c 90%);
    color: black;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #d3869b;
    background-image: linear-gradient(-45deg, #d3869b 0%, #83a598 52%, #8ec07c 90%);
    color: black;
}

#idle_inhibitor {
    background-color: #d3869b;
    background-image: linear-gradient(45deg, #d3869b 0%, #83a598 52%, #8ec07c 90%);
    border-radius: 20px 0px 0px 20px;

}

#idle_inhibitor.activated {
    background-color: #d3869b;
    background-image: linear-gradient(45deg, #d3869b 0%, #83a598 52%, #8ec07c 90%);
    color: black;
    border-radius: 20px 0px 0px 20px;

}

#language {
    background-color: #d3869b;
    background-image: linear-gradient(45deg, #83a598 0%, #8ec07c 52%, #8ec07c 90%);
    color: black;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0px 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
